.icon {
  height: 4em;
  width: 4em;
}

#header {
  height: 12vh;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(
    rgba(206, 181, 167, 1),
    rgba(206, 181, 167, 0)
  );
  z-index: 2000;
}

#footer {
  height: 12vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(
    rgba(206, 181, 167, 0),
    rgba(206, 181, 167, 1)
  );
  z-index: 2000;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row{
  height: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid{
  align-items: center;
}
