#component {
  height: 13vh;
  background-color: rgba(206, 181, 167, 1);
  border-radius: 5px;
  margin-bottom: 2vh;
}

.rowDesign {
  height: 13vh;
  display: flex;
  align-items: center;
}

#imgBackground {
  display: flex;
  background-color: #D9D9D9;
  height: 75%;
  width: 90%;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

#imgBackground img {
  height: 75%;
}

#componentText {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: rgba(60, 55, 68, 1);
}

#title {
  font-weight: 600;
  margin-bottom: 1vh;
}
