#configContentHeight {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#configButtons {
  display: flex;
  border-radius: 5px;
  height: 30%;
  width: 80vw;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.configButton {
  display: flex;
  background-color: rgba(206, 181, 167, 1);
  width: 100%;
  height: 3em;
  font-family: 'Raleway', sans-serif;
  color: rgba(60, 55, 68, 1);
  font-size: x-large;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

#configButtonSesion {
  color: rgba(192, 19, 19, 1);
}




